:root{
--color-fg: black;
--color-fg-rgb: 0,0,0;
--body-bg:white;
--h1-fg:#0F192E;
--h2-fg:#8B90AB;
--footer-fg:#8B90AB;

--btn-hover-bg-color:#293363;
--btn-text-hover-color:#405CEE;
}

html, body { height: 100%; color: var(--color-fg) }
body{
font: 16px -apple-system,BlinkMacSystemFont,sans-serif;
background: var(--body-bg); margin: 0 auto; max-width:1200px;
display: flex; flex-direction: column;
}
a {text-decoration: none; color: var(--color-fg)}
ol {padding-left: 1.5em}
li { margin: 1em 0 }
p { line-height: 150% }

.icon { margin-top: 1em; }
header { align-items:center; display: inline-block; vertical-align: top }
h1 { font-size:76px; color:var(--h1-fg); display: inline-block; margin: 0; }
h2 { font-weight:600; font-size:42px; color:var(--h2-fg); margin: 20px 0;}

.wrapper { margin: auto 0; padding: 1em 0; }
main { align-items: center; margin: 2em; }
.home-page main { display: flex; justify-content: space-between; min-height: 60vh }

.hero { text-align: center }
.we-re-hiring { position: absolute; top: 1em; right: 1em; }

section { text-align: left; max-width: 1000px; margin: 0 auto 2em; }
figure img { max-width: 100%; object-fit: scale-down; }
section h2 { font-weight:600; font-size:40px; color:var(--h2-fg); margin: 20px 0;}

header, aside { margin-left: 2rem }
footer {
  text-align: right; padding: 1em;
}
footer a:not(:last-child):after { content: ' · ' }
footer a:hover { opacity: .8; }

hr { margin: 2em 0; border: none; border-top: 1px solid rgba(var(--color-fg-rgb), .3) }

/* footer {font-size:16px; text-align:center; color:var(--footer-fg); margin: auto 2em 2em; padding: 1em 0 0; }
footer span { color: rgba(255, 255, 255, .9); } */

.pricing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.pricing a { padding-right: 2em; margin-right: 2em; border-right: 1px solid rgba(var(--color-fg-rgb),0.3); min-width: 200px; position: relative; }
.pricing a:hover p { color: var(--h1-fg); }
.pricing p { text-align: right; position: absolute; right: 1em; bottom: 16px; font-size: 24px; margin: 0; color:var(--h2-fg) }
.pricing h3, .pricing h4 { font-weight: normal; color:var(--h2-fg) }
.pricing h3 span { font-size: 25px; color:var(--h1-fg); }

.invite {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
}
.code {
  display: block;
  font-family:monospace; border: 0; outline: 0; background: none; resize: none; color: var(--color-fg);
  overflow: auto;
  height: 1em;
}
.code.used {
  text-decoration: line-through;
  opacity: .5;
}

.button {
display: flex;
align-items: center;
justify-content: center;
background:#405CEE; color:white;
border:1px solid rgba(255,255,255,0.05);
position: relative;
box-sizing:border-box;
outline: 0;
transition: .3s all;
border-radius:8px;
padding: 0 1em;
height: 30px;
}
.button.big {
  font-weight:600;
  font-size:24px;
  border-radius:16px;
  height: 60px;
}
input.styled {
  border:1px solid #405dee2d;
  border-radius: 8px;
  padding: 0 8px;
  height: 30px;
  outline: 0;
  box-sizing: border-box;
}
input.styled:focus {
  border-color: #405CEE;
}

.button:hover{ top: -2px; opacity: .9; }
.button:active{ top: 1px }

.tweets {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.light-mode-only { display: block!important }
.dark-mode-only { display: none!important }

.modal { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 999; }

.waitlist-signup {
  background: var(--body-bg);
  min-width: 300px;
  min-height: 300px;
  display: flex; align-items: center; justify-content: center;
  height: 100%;
}
.jobs form, .waitlist-signup form {
  display: flex;
  flex-wrap: wrap;
}
.jobs form input { flex: 1; max-width: 600px }
.jobs form button { margin-left: 1em }
.waitlist-signup input {
  height: 60px;
  width: 400px;
  font-size: 24px;
  border-radius: 16px;
  padding: 0 1em;
  margin-right: 10px;
}

dt { margin: 0 0; font-weight: 500 }
dd { margin: .5em 1em 1.5em }

@media (prefers-color-scheme:dark) {
:root{
--color-fg:white;
--color-fg-rgb: 255,255,255;
--body-bg:#0F192E;
--h1-fg:white;
--h2-fg:#9BB1DE;
--footer-fg:#9BB1DE;
}
.light-mode-only { display: none!important }
.dark-mode-only { display: block!important }
}

@media (max-width: 960px) {
  .tweets { grid-template-columns: auto; margin: auto; }
}
@media (max-width: 500px) {
header { display: block; margin:0; }
body:not(.home-page) h1 { font-size:50px;}
.waitlist-signup input { width: 100% }
.waitlist-signup input,.waitlist-signup button { font-size: 18px!important }
}
@media (max-width: 900px) {
.big-icon { display:none }
}
