@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.floaty-msg-1 {
  left: 20%;
  top: 20%;
  animation: float 4s ease infinite forwards;
}
.floaty-msg-2 {
  right: 15%;
  top: 30%;
  animation: float 4.7s ease infinite forwards;
}

.floaty-msg-3 {
  left: 25%;
  bottom: 20%;
  animation: float 3.3s ease infinite forwards;
}
.floaty-msg-4 {
  right: 30%;
  bottom: 10%;
  animation: float 4.4s ease infinite forwards;
}

@media (max-width: 375px) {
  .heading h1 {
    font-size: 3rem;
  }
  .heading h1 span {
    font-size: 3rem;
  }
}
