.main {
  padding: .5em;
  max-width: 800px;
  margin: 96px auto 3em;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: calc(100vh - 100px);
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  a { @apply text-blue-500 }
}

.category, .date {
  margin-left: 4px;
}

.blogPostContent {
  p {
    margin: 1em 0
  }

  h3 {
    font-weight: 600;
    @apply text-xl mt-8 mb-2
  }

  a {
    @apply text-blue-500
  }

  code {
    font-family: Source Code Pro, monospace;
  }

  pre {
    line-height: 140%;
    margin: .5em -.5em;
    padding: .5em;
    border-radius: .5em;
    overflow: auto;
  }
}
