@import 'normalize.css';

:root {
  --color-fg: black;
  --color-fg-rgb: 0, 0, 0;
  --h1-fg: #0f192e;
  --h2-fg: #8b90ab;
  --footer-fg: #8b90ab;

  --btn-hover-bg-color: #293363;
  --btn-text-hover-color: #405cee;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-fg);
  height: 100%;
}

body {
  font: 16px -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
}

ol {
  padding-left: 1.5em;
}

li {
  margin: 1em 0;
}

p {
  line-height: 150%;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid rgba(var(--color-fg-rgb), 0.3);
}

.light-mode-only {
  display: block !important;
}
.dark-mode-only {
  display: none !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #405cee;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
  box-sizing: border-box;
  outline: 0;
  transition: 0.3s all;
  border-radius: 8px;
  padding: 0 1em;
  height: 30px;
}

.button:hover {
  top: -2px;
  opacity: 0.9;
}
.button:active {
  top: 1px;
}

.button.big {
  font-weight: 600;
  font-size: 24px;
  border-radius: 16px;
  height: 60px;
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--color-fg);
}

.brand-button {
  background-image: linear-gradient(180deg, #425FF2 0%, #679DFF 100%);
  border-radius: 32px 32px 32px 10px;
}

.footer-icon {
  --tw-brightness: brightness(0);
}

.footer {
  background-color: #fafbfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: white;
    --color-fg-rgb: 255, 255, 255;
    --h1-fg: white;
    --h2-fg: #9bb1de;
    --footer-fg: #9bb1de;
  }
  .light-mode-only {
    display: none !important;
  }
  .dark-mode-only {
    display: block !important;
  }

  .footer-icon {
    --tw-brightness: brightness(5);
  }
  .footer {
    background-color: #19191e;
  }
}

@media (max-width: 500px) {
  body:not(.home-page) .h1 {
    font-size: 50px;
  }
}

.grecaptcha-badge { visibility: hidden }
