.hero {
  display: flex;
  justify-content: space-between;
  min-height: 60vh;
}

.heroButtonContainer {
  margin-top: 32px;
}

.emailSignUpButtonContainer {
  display: block;
  margin-top: 4px;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: var(--body-bg);
}

.waitlistSignup {
  background: var(--body-bg);
  min-width: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.waitlistSignup input {
  height: 60px;
  width: 400px;
  font-size: 24px;
  border-radius: 16px;
  padding: 0 1em;
  margin-right: 10px;
}

.waitlistSignup form {
  display: flex;
  flex-wrap: wrap;
}

.heroFigure {
  text-align: center;
}

.heroFigure img {
  max-width: 100%;
  object-fit: scale-down;
}

.section {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto 2em;
}

.section.h2 {
  font-weight: 600;
  font-size: 40px;
  color: var(--h2-fg);
  margin: 20px 0;
}

.tweets {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.hiring {
  position: absolute;
  top: 1em;
  right: 1em;
}

@media (max-width: 960px) {
  .tweets {
    grid-template-columns: auto;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .heroContent {
    display: block;
    margin: 0;
  }

  .heroFigure {
    display: block;
    margin: 0;
  }

  .waitlistSignup input {
    width: 100%;
  }

  .waitlistSignup input,
  .waitlistSignup button {
    font-size: 18px !important;
  }

  .waitlistSignup input {
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .bigIcon {
    display: none;
  }
}
