.pricing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.pricing a {
  padding-right: 2em;
  margin-right: 2em;
  border-right: 1px solid rgba(var(--color-fg-rgb), 0.3);
  min-width: 200px;
  position: relative;
}
.pricing a:hover p {
  color: var(--h1-fg);
}
.pricing p {
  text-align: right;
  position: absolute;
  right: 1em;
  bottom: 16px;
  font-size: 24px;
  margin: 0;
  color: var(--h2-fg);
}
.pricing h3,
.pricing h4 {
  font-weight: normal;
  color: var(--h2-fg);
}
.pricing h3 span {
  font-size: 25px;
  color: var(--h1-fg);
}
