.imessage-auth {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  details { margin: 1em 0 }
  details[open] { margin-bottom: 2em }

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
  }

  summary {
    background: rgba(var(--color-fg-rgb), 0.1);
    border-radius: 8px;
    padding: 8px 14px;
  }

  details[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  details h4 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-weight: 500;
  }

  .imessage-auth-well {
    padding: 16px;
    background: var(--prefs-well);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .known-issues-section ul {
    margin: 0;
    opacity: 0.8;
    line-height: 1.25em;
  }

  ul {
    padding: 0; list-style: none;
    li { margin-bottom: 8px }
  }

  .show-more-button { margin: .5em 0 }

  .permissions-section {
    width: 100vw;
    max-width: 100%;
    line-height: 1.25em;
    cursor: default;

    article > div:first-child {
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
    .more { margin-bottom: 1em }
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 60px;
      border: 2px solid var(--color-primary);
      margin-right: 8px;
      svg { font-size: 12px }
      &.completed { background-color: var(--color-primary) }
    }
  }

  .info-icon {
    margin-left: 6px;
    margin-top: 2px;
  }
}
